:root {
	--main-bg: #121314;
	--second-bg: whitesmoke;
	--footer-bg: goldenrod;

	--font-color: whitesmoke;
	--second-font-color: #121314;

	--filling-color: red;
}

html,
body {
	width: 100%;
}

body {
	background-color: var(--main-bg);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0%;
	font-size: 12pt;
	color: var(--font-color);
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
button {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: bolder;
	text-align: center;
	font-variant: small-caps;
}
h1,
h2,
h3 {
	color: var(--font-color);
}
h4,
h4,
h5,
h6 {
	color: var(--second-font-color);
	margin: 0.5rem;
	outline: 0;
}

a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

main {
	top: 0;
	right: 0;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 78vh;
	width: fit-content;
}

footer {
	background-color: var(--footer-bg);
	padding: 0.5rem;
	margin-top: 1rem;
	height: fit-content;
	right: 0px;
	bottom: 0px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: var(--second-font-color);
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	align-items: center;
}
footer img {
	max-height: 12pt;
	max-width: 12pt;
	margin: auto 5px;
	border-radius: 49%;
	filter: grayscale(99%);
}

button {
	line-height: 1.2rem;
	height: 1.2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
button,
input {
	border: none !important;
	outline: none !important;
	border: none !important;
}

#usuario {
	width: 23.5rem;
	height: 1.8rem;
	margin: 1rem auto;
	border: solid 1px var(--filling-color);
	background-color: var(--filling-color);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#btnTentativa {
	border-radius: 20px 0 0 20px;
	background-color: var(--second-bg);
	color: var(--second-font-color);
	height: 1.5rem;
	width: 8rem;
}
#btnPalpite {
	border-radius: 0 20px 20px 0;
	background-color: var(--second-bg);
	color: var(--second-font-color);
	height: 1.5rem;
	width: 5rem;
}

.nomesGeral {
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 1.3rem;
}
.nomesGeralShow {
	border-radius: inherit;
}
#campoPalpite {
	height: inherit;
	width: inherit;
	background-color: var(--second-bg);
}
.opcoesNomes {
	border: inherit;
	display: none;
	position: absolute;
	padding: inherit;
	z-index: 1;
	max-height: 10rem;
	overflow-y: scroll;
	width: inherit;
	margin: 0.6vh;
	padding: 0.6vh;
	border-radius: 0px 0px 20px 20px;
}
.opcoesNomesShow {
	display: block;
	background-color: var(--second-bg);
	color: var(--second-font-color);
	position: absolute;
	top: 10.3rem;
}
.nomePalpite {
	padding: inherit;
	cursor: pointer;
	font-weight: 295;
	display: flex;
	justify-content: left;
	align-items: center;
}
.nomePalpite:hover {
	background-color: var(--second-bg);
	font-weight: 590;
}

#ultimosPalpites {
	position: fixed;
	right: 1rem;
	top: 1rem;
	margin: 0 !important;
	background-color: var(--second-bg);
	border: solid 2px var(--filling-color);
	border-radius: 20px;
	width: 10rem;
	height: fit-content;
	color: var(--second-font-color);
	padding: 0.5rem;
}

#geracoes {
	text-align: center;
	max-width: inherit;
}

#campoDicas p,
#maquina {
	margin: 0.2rem;
	flex-direction: column;
	align-items: center;
	justify-items: start;
	text-align: center;
}
#campoDicas img {
	height: 10rem;
	width: 10rem;
	filter: contrast(1%) opacity(99%);
}
#ultimato img {
	height: 13rem;
	width: 13rem;
}
